Package: python314
Version: 3.14.0-r1
Description: Python programming language
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: BSD
Architecture: cortexa9-vfpv3
OE: python314
Homepage: http://www.python.org
Depends: libc6
Recommends: libreadline6
Source: https://www.python.org/ftp/python/3.14.0/Python-3.14.0.tgz
